body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
}


.top-banner {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #0b0b0b;
    height: 44px;
    justify-content: space-evenly;
    align-items: center;
}

.top-banner li a {
    color: #fff;
    text-decoration: none;
}

.navigation-container {
    justify-content: space-between;
    align-items: center;
    margin-inline: 30px;
    height: 90px;

}

.main-logo {
    width: 116px;
    height: 50px;
}

.mi-ul li h2 {
    font-size: 1.125rem;
    font-weight: 400;
}

.mi-ul {
    list-style: none;
    column-gap: 32px;
    padding: 0px;
}

.mi-ul li:hover {
    color: red;
    border-bottom: 1px solid red;
}

.fa-solid {
    height: 18px;
    width: 18px;
}

.second-menu {
    column-gap: 20px;
    align-items: center;
}

.country-logo {
    height: 18px;
    width: 18px;
}

.search {
    outline: none;
    border-width: 0px 0px .5px 0px;
}

.search-container {
    position: relative;
}

.search-container .fa-solid {
    position: absolute;
    margin-left: -20px;
}

.notification {
    color: white;
    padding: 0;
    background: #0b0b0b;
    text-decoration: underline;
    text-align: center;
    margin: 0;
    font-size: .75rem;
    padding-block: 4px;
}

.carrousel {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.hunter-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.button-parent a {
    text-decoration: none;
    border: thin solid black;
    padding: 12px 32px;
    margin: 0px 16px 16px 0px;
    color: #0b0b0b;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1rem;
}

.button-parent {
    justify-content: center;
    margin-block: 10px;
}